
  <div class='mt-4'>
    <h5 class='font-weight-bold'>ようこそ、<br>
    ゲストユーザーさん！</h5>
    <br>
    <p class='font-italic' style=''>　新規投稿、ブックマークを行うには<br>
    　下記から<%= link_to '新規登録', new_user_registration_path %>が必要です。</p>
  </div>

  <h2 class='py-2'>Sign up</h2>
  <%= form_with model: user, url: user_registration_path, local: true do |f| %>
    <div class='col-11'>
      <div class="form-group">
        <%= f.label :name, class:'font-weight-bold' %>
        <%= f.text_field :name, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, class:'font-weight-bold' %>
        <%= f.email_field :email, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, class:'font-weight-bold' %>
        <em>（6文字以上）</em>
        <%= f.password_field :password, autocomplete: "new-password" , class:"form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Password', class:'font-weight-bold' %>
        <em>（確認用）</em>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>
    </div>
    <div class="form-group mt-4">
      <%= f.submit "Sign up", class:'btn btn-success' %>
    </div>
  <% end %>
