<!--articleのフォーム（新規投稿、編集）-->
<%= form_with model: article, local:true do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Title', class:'font-weight-bold' %>
    <%= f.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group col-10 px-0">
      <%= f.label :link, 'Link', class:'font-weight-bold' %>
      <%= f.text_field :link, class:"form-control" %>
  </div>

  <div class='form-group px-0'>
    <%= label_tag :category_name, 'Category', class:'font-weight-bold' %><br>
    <%= select_tag :category_name, options_for_select([['選択してください', '']] + @category_names, @article_category_name),
    class:'badge border border-success text-success py-2 font-weight-bold', style:'font-size: 15px; min-width: 40%;' %>
  </div>

  <div id='post-tags'>
    <% if defined?(@json_tag_names) %>
      <div id="json_tag_names" data-json="<%= @json_tag_names.to_json %>"></div>
    <% end %>
    <%= javascript_pack_tag 'post_tags_vue' %>
  </div>

  <div class="form-group">
    <%= f.label :summary, 'Summary', class:'font-weight-bold' %>
    <%= f.text_area :summary, class:"form-control", rows:'8', placeholder:'概要や感想などを記述'%>
  </div>

  <% if current_page?(new_article_path) || request.url.include?('/edit') %>
    <div class="form-group">
      <%= f.label :body, 'Body', class:'font-weight-bold' %>
      <span class="article_form_arrow text-success px-1 fas fa-chevron-down"></span>
      <span class='text-danger mx-4'>※必須入力ではありません</span>
      <%= f.text_area :body, class:"form-control", id:'article_form_body', style:'display: none;', rows:'20', placeholder:'補足や補完などを記述'%>
    </div>
    <script>
      $(function() {
        $('.article_form_arrow').on("click",function(){
          $('#article_form_body').slideToggle();
        });
      });
    </script>
  <% end %>

  <div class="form-group mt-4">
    <% if current_page?(action: 'index') %>
      <button class='btn btn-success' type="button" onclick="submit(); ">Create Article</button>
    <% else %>
      <button class='btn btn-success' type="button" onclick="submit(); ">Update Article</button>
    <% end %>
  </div>
<% end %>