<!--記事詳細-->
<div class='container-md rounded py-3 mb-3' style='border: 2px solid lightgray;' onMouseOut="this.style.boxShadow='';" onMouseOver="this.style.boxShadow='0 0.5rem 1rem rgba(0,0,0,0.2)'">
  <%= link_to article_path(article), class:'text-dark' do %>
    <h5 class='font-weight-bold'><%= article.title%></h5>
  <% end %>
  <div class='row border-bottom pb-2'>
    <div class='col-8 col-sm-9 text-truncate'>
      <i class="fas fa-link"></i>
      <%= link_to article.link do %>
        <%= article.link %>
      <% end %>
    </div>
    <div class='col-2 pl-0 text-right text-nowrap favorite-btn<%= article.id %>'>
      <%= render 'article_favorites/favorite', article: article %>
    </div>
    <div class=' col-2 col-sm-1 px-0 text-nowrap  bookmark-btn<%= article.id %>'>
      <%= render 'article_bookmarks/bookmark', article: article %>
    </div>
  </div>
  <% if article.summary.present? %>
    <div class='row mb-2 py-2'>
      <div class='px-3 pb-1 pr-md-0 pl-md-3'>
        <%= link_to user_path(article.user) do %>
          <%= attachment_image_tag article.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg", class:'rounded-circle mt-1' %>
        <% end %>
      </div>
      <div class='col-md-10 px-3 px-lg-0 mx-auto'>
        <% if current_page?(articles_path) %>
          <%= article.summary.truncate(150, omission: '...') %>
        <% else %>
          <%= article.summary %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class='pt-2 pr-4 d-inline-block'>
      <%= link_to user_path(article.user) do %>
        <%= attachment_image_tag article.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg", class:'rounded-circle my-1' %>
      <% end %>
    </div>
  <% end %>
  <div class='d-inline-block'>
    Category：<%= link_to articles_path(category_name: article.category.name), class:'badge border border-success text-success mr-3 mb-2', style:"font-size: 100%;" do %>
      <%= article.category.name %>
    <% end %>
    Tag：<% article.tags.each do |tag| %>
      <%= link_to articles_path(content: tag.name, category_name: article.category.name), class:'badge badge-primary badge-pill mr-1 mb-2', style:"font-size: 100%;" do %>
        <%= tag.name %>
      <% end %>
    <% end %>
  </div>
</div>
<% if current_page?(article_path(article)) && article.body.present? %>
  <div class='py-3 mt-4 px-2 text-break' style='border: dashed lightgray; border-width: 2px 0;'>
    <%= markdown(article.body) %>
  </div>
<% end %>