<div class='pattern-cross-dots-lg'>
  <div style='background: rgba(235,235,235,0.70);'>
    <div class='custom-container py-5 px-sm-4 px-md-5 border bg-white shadow-lg' style='min-height: 750px;'>
      <div class='d-flex align-items-center justify-content-center flex-wrap mb-4'>
        <h1 class='font-weight-bold mr-3' style='font-family: cursive;'>User Page</h1>
        <h4 class='text-line d-sm-flex font-italic'><%= @user.name%></h4>
      </div>
      <!--ユーザー情報-->
      <div class='px-3 px-sm-0'>
        <%= render 'users/user_info_head', user: @user %>
      </div>
      <div class='py-4 px-2 mb-4 shadow-sm text-center h-100' style='border-radius: 10%; border: 1px solid rgba(16,15,13,0.2)'>
        <div class='d-flex pb-4'>
          <div class='col-6 text-right'>
            <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", class:'rounded-circle' %>
          </div>
          <div class='col-6 text-left pt-4'>
            <p class='font-weight-bold pt-1 my-2 <%='' if @user == current_user%>' style='font-size: 18px' ><%= @user.name %></p>
            <% if user_signed_in? %>
              <div class='user-follow<%= @user.id %> '>
                <%= render 'users/user_follow', user: @user %>
              </div>
            <% end %>
          </div>
        </div>
        <div style='font-size: 20px;'>
          <div class='user-follow-count<%= @user.id %> d-flex justify-content-center'>
            <%= render 'users/user_follow_count', user: @user %>
          </div>
          <div class='d-flex justify-content-center'>
            <div class='col-6 col-md-4 border-bottom py-3'>
              投稿：<%= @user.articles.count %>件
              <%= link_to '投稿一覧', posts_user_path(@user), class:'d-block pt-2' %>
            </div>
            <div class='col-6 col-md-4 border-bottom py-3 px-0 text-nowrap'>
              ブックマーク：<%= @user.article_bookmarks.count %>件
              <%= link_to 'ブックマーク一覧', bookmarks_user_path(@user), class:'d-block pt-2' %>
            </div>
          </div>
          <div class='d-sm-flex justify-content-center'>
            <div class='col-md-4 border-bottom py-3'>
              被いいね：<%= @user.be_favorites_count %>件
            </div>
            <div class='col-md-4 border-bottom py-3'>
              被ブックマーク：<%= @user.be_bookmarks_count %>件
            </div>
          </div>
          <div class='px-2'>
            <p class='mb-2'>introduction</p>
            <%= @user.introduction %>
          </div>
        </div>
      </div>
      <!--個人ユーザーが保存しているタグを表示-->
      <div class='d-flex align-items-center flex-wrap mb-4'>
        <h3 class='mr-3'>Tags</h3>
        <h5 class='text-line d-sm-flex font-weight-bold font-italic'>My登録タグ一覧</h5>
      </div>
      <% if @user.articles.present? || @user.article_bookmarks.present? %>
        <div>
          <%= form_with url: user_path(@user), method: :get do |f| %>
            <div id="my-tags">
              <div id="category-names" data-json="<%= @category_names.to_json %>"></div>
              <%= javascript_pack_tag 'my_tags_vue' %>
            </div>
            <div class="form-group">
              <%= f.submit "検索", style:'display: none;', id:"search-btn" %>
            </div>
          <% end %>
          <div class='results top-main-monitor p-3'>
            <%= render 'layouts/amcharts', results: @results, user: @user %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>