<div class='border py-4 px-2 shadow-sm text-center' style='border-radius: 10%;'>
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", class:'rounded-circle' %>
  <p class='font-weight-bold pt-1 mb-2' style='font-size: 18px' ><%= user.name %></p>
  <div>
    <div class='row pb-2'>
      <div class='col-5 offset-1 border-bottom border-top pt-2 pb-1'>
        followers<br>
        <%= user.followers.count %>
      </div>
      <div class='col-5 border-bottom border-top pt-2 pb-1'>
        followes<br>
        <%= user.following.count %>
      </div>
    </div>
    <div class='row pb-2'>
      <div class='col-5 offset-1 border-bottom pb-1'>
        投稿<br>
        <%= user.articles.count %>
      </div>
      <div class='col-5 border-bottom pb-1'>
        ブックマーク<br>
        <%= user.article_bookmarks.count %>
      </div>
    </div>
    <div class='row pb-2'>
      <div class='col-5 offset-1 border-bottom pb-1'>
        被いいね<br>
        <%= user.be_favorites_count %>
      </div>
      <div class='col-5 border-bottom pb-1'>
      　被閲覧<br>
        <%= user.be_favorites_count %>
      </div>
    </div>

    <div class='px-2'>
      <p class='mb-2'>introduction</p>
      <%= user.introduction %>
    </div>
  </div>
</div>
<!--<div class="row">-->
<!--  <%= link_to edit_user_path(user.id), class:"btn btn-sm btn-block btn-outline-secondary mt-4" do %>-->
<!--    <i class="fas fa-user-cog"></i>-->
<!--  <% end %>-->
<!--</div>-->