<!DOCTYPE html>
<html>
  <head>
    <title>Codience</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/f8d37013c4.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/pattern.css" rel="stylesheet">

    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark" style='background-color: rgba(13,65,134,1);'>
        <div class="container">
          <a class="navbar-brand" href="/">
            <img class="header-logo" src=<%= asset_path('codience.png') %> width="165" height="80">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li><%= link_to " Users", users_path, class:"fas fa-users nav-link text-light" %></li>
              <li><%= link_to " Mypage", user_path(current_user), class:"fas fa-user nav-link text-light" %></li>
              <li><%= link_to " Articles", articles_path, class:"fas fa-book-open nav-link text-light", "data-turbolinks": false %></li>
              <li><%= link_to " logout", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt nav-link text-light" %></li>
            <% else %>
              <li><%= link_to " Users", users_path, class:"fas fa-users nav-link text-light" %></li>
              <li><%= link_to " Articles", articles_path, class:"fas fa-book-open nav-link text-light", "data-turbolinks": false %></li>
              <li><%= link_to " sign up", new_user_registration_path, class:"fas fa-user-plus nav-link text-light" %></li>
              <li><%= link_to " login", new_user_session_path, class:"fas fa-sign-in-alt nav-link text-light" %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
